/**
* Typography helpers
**/

.font-pacifico {
  font-family: 'Pacifico', Helvetica, Arial, sans-serif;
  color: #2b2b2b;
}

.text-shadow {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.01), 2px 2px 0px rgba(0,0,0,0.05);
}

